#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(65, 34, 0);
  color: rgb(193, 148, 92);
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

}

.card {
  padding: 2em;
}

.logo {
  color: #d5d5d5;
  font-size: 400%;
  border: 2px white solid;
  border-radius:65% 35% 66% 34% / 48% 59% 41% 52%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
}

nav {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: rgb(65, 34, 0);
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 200ms ease-in-out;
}

nav a:hover {
  color: #f1b24a;
}

.home-button {
  border: 2px white, solid;
  border-radius: 79% 21% 37% 63% / 42% 66% 34% 58%;
}
.categories-button {
  border: 2px white, solid;
  border-radius: 66% 34% 67% 33% / 42% 37% 63% 58%;
}
.profile-button {
  border: 2px white, solid;
  border-radius: 53% 47% 36% 64% / 69% 30% 70% 31%;
}
.cart-button {
  border: 2px white, solid;
  border-radius: 75% 25% 77% 23% / 46% 59% 41% 54%;
}


/* Product Listing */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgb(203, 219, 255) 0px 1px 2px 0px, rgb(255, 221, 221) 0px 2px 6px 2px;
  width: 300px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  transition: transform 300ms;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.product-card h3 {
  margin: 0.5rem 0;
}

.product-card p {
  font-size: 0.9rem;
  color: #777;
}

.product-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c7c31;
  margin-top: 0.5rem;
}

.product-card button {
  border: 2px #f1b24a, solid;
  border-radius: 79% 21% 37% 63% / 42% 66% 34% 58%;
  padding: 5%;
  background-color: #f1b24a;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}

.log-out-button{
  border: 2px #f1b24a, solid;
  border-radius: 66% 34% 67% 33% / 42% 37% 63% 58%;
  padding: 3%;
  background-color: #f1b24a;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}
.cart-buttons {
  background-color: #f1b24a;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
  margin-top: 1rem;
  margin: 1%;
}

.product-card button:hover {
  background-color: #c1945c;
}

/* Category Buttons */
.categories-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.category-button {
  border: 2px #f1b24a, solid;
  border-radius: 79% 21% 37% 63% / 42% 66% 34% 58%;
  padding: 70%;
  background-color: #f1b24a;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}

.category-button:hover {
  background-color: #f1b24a;
}

/* Cart Section */
.cart-container {
  margin-top: 2rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.cart-item h3 {
  margin: 0;
}

.cart-item .quantity {
  font-size: 1rem;
  color: #666;
}

.cart-item .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c7c31;
}

/* Login Form */
form {
  max-width: 400px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form h2 {
  margin-bottom: 1.5rem;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2%;
}

form button {
  border: 2px #f1b24a, solid;
  border-radius: 75% 25% 77% 23% / 46% 59% 41% 54%;
  padding: 5%;
  background-color: #f1b24a;
  color: white;
  margin-top: 10%;
  cursor: pointer;
  transition: background-color 300ms;
  margin-left: 5%;
}

form button:hover {
  background-color: #c1945c;
}

/* register form page */
.register-container {
  max-width: 400px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register-container h1 {
  margin-bottom: 1.5rem;
}

.register-container div {
  margin-bottom: 1rem;
}

.register-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2%;
}

.register-container button {
  border: 2px solid #f1b24a;
  border-radius: 75% 25% 77% 23% / 46% 59% 41% 54%;
  padding: 5%;
  background-color: #f1b24a;
  color: white;
  margin-top: 10%;
  cursor: pointer;
  transition: background-color 300ms;
  margin-left: 5%;
}

.register-container button:hover {
  background-color: #c1945c;
}


/* Product Details Page */
.product-details {
  margin: 2rem;
  text-align: center;
  border: 2px white solid;
  border-radius: 33% 67% 53% 47% / 35% 51% 49% 65% ;
  padding: 6%;
  margin: 10%;

}

.product-details img {
  max-width: 400px;
  width: 100%;
  margin: 1rem 0;
  border-radius: 8px;
}

.product-details h2 {
  margin-top: 0;
}

.product-details p {
  font-size: 1.1rem;
  color: #ffffff;
}

.product-details .price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c7c31;
  margin: 1rem 0;
}

.product-details button {
  background-color: #f1b24a;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
}

.product-details button:hover {
  background-color: #c1945c;
}


/* footr section*/
.footer {
  text-align: center;
  margin-top: 12%;
  background-color: #ffffff;
  padding: 80px;
  text-align: center;
  border-radius:61% 39% 73% 27% / 74% 48% 52% 26%  ;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  
}

.footer-section ul li {
  margin: 5px 0;
  color: rgb(114, 114, 255);
  cursor: pointer;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #6c757d;
}

.banner {
  background-color: #ffffff;
  color: rgb(96, 45, 0);
  text-align: center;
  padding: 0.1% 0;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  animation: slideIn 0.5s ease-in-out;
  border-radius:33% 67% 53% 47% / 35% 51% 49% 65%;
}

@keyframes slideIn {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
